.indigo{
    color: indigo;
}
.blue{
    color: blue;
}
.black{
    color: black;
}

.default{
    font-size: 14px;
}
.large{
    font-size: 24px;
}
.small{
    font-size: 11px;
}

.default_font{
    font-family: cambria;
}

h1 {
    color: indigo;
    font-size: 14;
    font-family: cambria;
}

h2 {
    color: black;
    font-size: 11;
    font-style: italic;
    font-family: cambria;
}

h4 {
    color: indigo;
    font-size: 11;
    font-family: cambria;
}

a.important_link {
    color: blue;
    font-size: 11;
    font-family: cambria;
}

a.visited {
    color: blue;
}

body,html {
    margin: 8px;
    font-family: cambria;
}

ul {
    /*padding: 8px;*/
    width 100%;
}

li {
    display: inline;
}

/*
a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: left;
    line-height: 3;
    color: black;
}

li:last-child a {
    margin-right: 0;
}
*/
/*

a:link, a:visited, a:focus {
    background: yellow;
    color: indigo;
}

a:hover {
    background: orange:
    color: indigo;
}

a:active {
    background: red;
    color: black;
}

*/



/*
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/
